<html>

<body>
    <p>Hi <%= name %>,</p>
    <p>We've received a request for temporary login password.</p>
    <p>If you didn't make the request, please just ignore this email. Otherwise, you can login using this password:</p>
    <p>
        <h1><%= password %></h1>
    </p>
</body>

</html>